
    <div class="right-box">
    <% @user.accounts.each do |acc| %>
       <div class="right-box-options"%>
          <div class="option-top">
             <%= acc.type %>
          </div>
          <div class="option=bottom">
             <%= acc.balance %>
          </div>   
        <div>  
    <% end %>    
    </div>   
  <%= link_to 'Create Account', new_user_account_path(@user) %>
  </div>
</div>
