body {
    background-image: url(image-path('pittsburgh_bridge_background.jpeg'));
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    height:1500px;
    overflow: visible;
  }

#site-header-container {
  overflow: hidden;
  background-color: rgba(75, 72, 72, 0.705);
  position: relative;
  top: 0;
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 5px solid rgb(230, 169, 74); 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 #site-header-container .sccu-logo {
   display: inline-block;
   color: transparent;
   overflow: hidden;
   width: 200px;
   height: 100px;
   background-image: url(image-path('steel_city_credit_union.png'));
   background-repeat: no-repeat;
   background-size: contain;
   margin-left: 20px;
}

#site-header-container .header-options {
  margin-right: 5%;
}

#site-header-container a {
  color:#000;
  text-decoration:none;
  
}

.main {
  display:flex;
  justify-content: center;
  height: auto;    
}

.dashboard {
  border-radius: 10px;
  width: 50%;
  height: 100%;
  overflow: visible;
  background-color: rgba(145, 139, 139, 0.911);
  padding-bottom: 2vw;  
}

.dashboard a:link {
  color: rgb(5, 5, 5); text-decoration: none;
}
.dashboard a:visited {
 color: rgb(3, 3, 3); text-decoration:none;
}

 