
  .dashboard input, .register, .facebook, .card_payment {
  width: 98%;
  padding: 12px 20px;
  margin: 5px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;   
}
.dashboard form {
  width: 100%;
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}



.dashboard input[type=submit] {
  cursor: pointer;
}

.dashboard .register {
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-color: rgb(239, 239, 239);
}
.dashboard a:link {
   color: rgb(5, 5, 5); text-decoration: none;
}
.dashboard a:visited {
  color: rgb(3, 3, 3); text-decoration:none;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

.facebook {
    background-color: rgb(29, 118, 240);
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
    border: none;
}

.facebook img {
    height:25px;
    image-rendering: crisp-edges;
    vertical-align: text-bottom;
}

p.notice {
  padding-left: 1em;
}