// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sign-up #error_explanation {
    margin: 0 auto;
    width: 435px;
    height: auto;
    background-color: rgba(75, 72, 72, 0.835);
    border-radius: 5px;
    padding-bottom: 10px;
}


.sign-up input[type=submit] {
   display: block; 
   margin: 0 auto;
   background-color: rgb(206, 206, 206);
     
}

.sign-up input {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin: 1em;
    width: 87%;   
}

#error_explanation {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 5px;
}

#error_explanation li {
    color: red;
     
    padding-right: 1em;  
}

#error_explanation p {
    padding-left: 1em;
    color: red;
}


//-------------------- Users/show -----------------

.user_container {
    padding-left: 5%;
}