<!DOCTYPE html>
<html>
  <head>
    <title>BankingPowPow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <header>
 
  <div id="site-header-container" class="container">
       <a href="/" class="sccu-logo-link">
       <div class="sccu-logo">SCCU </div>
       </a>
     </div> 

  </header>

  <body>
    <%= yield %>
  </body>
</html>
