<!DOCTYPE html>
<html>
  <head>
    <title>BankingPowPow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'merchandise', media: 'all' %>
  </head>
  <header>
 
  </header>

  <body class="merch_body">

    <%= yield %>
    
  </body>
</html>
