
<div class="dashboard">
  <div id="header">
    <p id="dashboard-title">Dashboard</p>
    <div id="group 1">
      <div id="group 2">

      </div>
    </div>
  </div>
</div>








<%
=begin%>
 <div id="main">
<div id="primary_nav"><primary-navigation type="legacy" initialized=""><nav id="favorite_widgets" class="widget-navigation-list__favorite-widgets appear" role="navigation" aria-label="Favorite Widgets">
    <div static-widgets="" favorite-widgets=""><a id="dashboard_v2_navigation_item" class="widget-navigation-item font-icon-MACU-dashboard current" data-widget-name="Dashboard" href="/DashboardV2" aria-disabled="true">
    <span class="widget-navigation-item__name">Dashboard</span>
</a><a id="my_accounts_v2_navigation_item" class="widget-navigation-item font-icon-MACU-accounts" data-widget-name="Accounts" href="/MyAccountsV2">
    <span class="widget-navigation-item__name">Accounts</span>
</a><a id="transfer_v2_navigation_item" class="widget-navigation-item font-icon-MACU-transfers" data-widget-name="Transfers &amp; Payments" href="/TransferV2">
    <span class="widget-navigation-item__name">Transfers &amp; Payments</span>
</a><a id="bill_pay_v2_navigation_item" class="widget-navigation-item font-icon-MACU-bill-pay" data-widget-name="Bill Pay" href="/BillPayV2">
    <span class="widget-navigation-item__name">Bill Pay</span>
</a><a id="quick_apply_navigation_item" class="widget-navigation-item font-icon-MACU-add-account" data-widget-name="Loans / New Account" href="/QuickApply">
    <span class="widget-navigation-item__name">Loans / New Account</span>
</a><a id="e_docs_navigation_item" class="widget-navigation-item font-icon-MACU-edocs" data-widget-name="E-Documents" href="/eDocs">
    <span class="widget-navigation-item__name">E-Documents</span>

     





<div class="articles" style="display: none;"></div>
</div>
<div class="iris-popover__footer flex-justify--end">
<a class="iris-button iris-button--primary" href="/Content/List?type=Informational">
<span class="iris-button__text">View More</span>
</a>
</div>
</div></div><div id="help_articles" class="widget-action-item legacy-action-item">
         <a class="widget-action__button articles-component__button iris-button iris-button--action help-link" type="button" href="https://o.macu.com/Content/Help/Show?name=DashboardHelp" aria-label="Help with this widget" role="button">
         <span class="widget-action__button-icon iris-button__icon font-icon-help" aria-hidden="true"></span>
         <span class="widget-action__button-text iris-button__text">Help</span>
         </a>
      </div></div>
<br class="clear"></div>
<div id="primary_widget_content" style="visibility: visible;"><div class="modal-wrapper"></div>
<input name="__RequestVerificationToken" type="hidden" value="-GxsEpoeh8pDO5tyK82-KeeonuFWMtUQSqpO5olndwfJah8E9VuEDLb69on9X9Vt4NTnYqGoGTa-RUX4wIs_O0nKbDOdcRv-JUFpF5GLiFXlSXpB-sAfMeBVwO37lO_wldoSI-Ocb4qpVE4WlS7kqw2" class="hidden">

<div id="main_modules">
<div class="module" id="module_action_items" style="">
<div class="module-content dash-action-items" data-load-url="/DashboardV2/ActionableAlerts" data-onload="actionableAlertsOnLoad">
<div class="action-alerts">
<div id="contact_confirmation_list" class="action-alerts-list action-trial" data-bind="css: allConfirmed() == true ? 'action-confirmed' : 'action-trial'">
<div data-bind="if: allConfirmed()"></div>
<div data-bind="if: !allConfirmed()">
<ul class="activity" role="presentation">
<li class="activity-confirm" role="presentation">




<li class="account-type" id="account_type_1492">
<a role="presentation" class="post-link mar-bottom--xs inactive-link" aria-hidden="true" tabindex="-1">
<h4 role="heading" aria-level="3">Checking</h4>
<div class="account-type-total" aria-label="Total balance is $1,020.99.">
$1,020.99
</div>
</a>
</li>

<li data-is-external-account="false" id="account_3e0fcb65-fb7e-4b0e-b5f0-c8adcd601203">
<a href="/MyAccountsV2?pageID=60f7a4ce-53c9-443c-ac0b-832a38041d3f#account-3e0fcb65-fb7e-4b0e-b5f0-c8adcd601203" class="post-link ">
<div class="account-info color3">
<div>
<h4 role="heading" aria-level="3">MYSTYLE CHECKING</h4>
</div>
<div>
<span class="account-number truncate mar-left--sm">
<span aria-label="Account ending in ***7596-S0050.">***7596-S0050</span>
</span>
</div>
</div>
<ul class="account-alerts" role="presentation">

<li class="account-alert" data-tooltip="2 pending transactions" role="presentation">
<span class="font-icon-pending" aria-label="2 pending transactions"></span>
</li>
</ul>
<div class="amount">
<span class="bal available" aria-label="Available balance is $1,020.99.">$1,020.99</span>
<span aria-label="Current balance is $1,092.81.">$1,092.81</span>
</div>
</a>
</li>
</ul>
<ul class="accounts">

<li class="account-type" id="account_type_1495">
<a role="presentation" class="post-link mar-bottom--xs inactive-link" aria-hidden="true" tabindex="-1">
<h4 role="heading" aria-level="3">Savings</h4>
<div class="account-type-total" aria-label="Total balance is $2,507.67.">
$2,507.67
</div>
</a>
</li>

<li data-is-external-account="false" id="account_29ddc814-1ddb-4f87-a540-eb9aaab4a824">
<a href="/MyAccountsV2?pageID=11f058d0-ddda-4ff6-ab61-85194ff06ccb#account-29ddc814-1ddb-4f87-a540-eb9aaab4a824" class="post-link ">
<div class="account-info color0">
<div>
<h4 role="heading" aria-level="3">PRIMARY SAVINGS</h4>
</div>
<div>
<span class="account-number truncate mar-left--sm">
<span aria-label="Account ending in ***7596-S0001.">***7596-S0001</span>
</span>
</div>
</div>
<ul class="account-alerts" role="presentation">

 </ul>
<div class="amount">
<span class="bal available" aria-label="Available balance is $2,507.67.">$2,507.67</span>
<span aria-label="Current balance is $2,508.67.">$2,508.67</span>
</div>
</a>
</li>
</ul>
<ul class="accounts">

<li class="account-type" id="account_type_1494">
<a role="presentation" class="post-link mar-bottom--xs inactive-link" aria-hidden="true" tabindex="-1">
<h4 role="heading" aria-level="3">Loans</h4>
<div class="account-type-total" aria-label="Total balance is $0.00.">
$0.00
</div>
</a>
</li>

<li data-is-external-account="false" id="account_9aada720-f448-41bc-b1a1-624e608d55a1">
<a href="/MyAccountsV2?pageID=76565cba-2ceb-49be-951b-607e658d56d0#account-9aada720-f448-41bc-b1a1-624e608d55a1" class="post-link ">
<div class="account-info color1">
<div>
<h4 role="heading" aria-level="3">VISA PLATINUM</h4>
</div>
<div>
<span class="account-number truncate mar-left--sm">
<span aria-label="Account ending in ***7596-L0074.">***7596-L0074</span>
</span>
</div>
<div class="pad-top--sm">
<span class="payment-info">
Min due: $0.00 on <span class="text--nowrap">Jun 30, 2021</span>
</span>
</div>
</div>
<ul class="account-alerts" role="presentation">

</ul>
<div class="amount">
<span aria-label="Current balance is $0.00.">$0.00</span>
<span class="bal available" aria-label="Available balance is $4,500.00.">$4,500.00</span>
</div>
</a>
<a class="account-pay-button" data-button-type="action" href="/TransferV2?account=9aada720-f448-41bc-b1a1-624e608d55a1" title="Pay Now" target=""><span style="display: none;" class="ae-compliance-indent"> VISA PLATINUM -  </span>Pay</a>
</li>
</ul>
<ul id="legend_list" class="flex flex--wrap mar-child-bottom--md mar-child-right--xl font-color--neutral" aria-hidden="true">
<li class="legend-item flex flex-items--center">
<span class="legend-item__icon font-icon-pending"></span>
<span class="legend-item__title pad-left--sm">Pending Transaction</span>
</li>
<li class="legend-item flex flex-items--center pos--relative">
<span class="legend-item__icon bal available legend-icon"></span>
<span class="legend-item__title">Available Balance</span>
</li>
</ul>
</div>
<script src="/Areas/MyAccountsV2/Scripts/ModuleContent/AccountsModule.min.js?637604602983144018" type="text/javascript"></script>
</div>
</div><div class="module" id="module_ads">
<div class="cms-content-area" data-cms-content-area="carousel">
<div class="dash-activity dash-promos module-content" data-load-url="/DashboardV2/Promotional" data-onload="initializeCarousel"></div>
</div>
</div>
</div>
 
<%
=end%>
